*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.hprof
*.log

# 不相关的项目/反编译代码
/java/
/demo/
/couple-miniapp/
/debug_output/
/xposed-module/
